{% from "bootstrap5/form.html" import render_form %}
{% include "header.html" %}

{% if not current_user.is_authenticated: %}
<div class="no_logged">
    <h3>Log In or Register to see your lists</h3>
</div>
{% else: %}
<div class="container grid_cont">
     {% for category, tasks in tasks_by_category.items() %}
    <div class="card">
        <h2>{{ category }}</h2>
        <ul>
{% for task in tasks: %}
        <div class="task_card" >
            <div>
            <div class="task" id="task_{{ task.id }}" contenteditable="true" data-task-id="{{ task.id }}">
                {{ task.task }}</div>
            <div class="due_date">
            Due Date: <span id="due_date_{{ task.id }}" contenteditable="true" data-task-id="{{ task.id }}">
                {{ task.due_date }}</span>
            {% if task.selected: %}
            ⭐
{% endif %}</div>
            </div>
            <div>
             <button class='buttons cross' type="button" onclick="cross_text({{ task.id }})">✓</button>
            <button class="buttons edit" id="save_button_{{ task.id }}" onclick="saveTask({{ task.id }})"
                    style="display: none;">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="blue" class="bi bi-pen" viewBox="0 0 16 16">
  <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z"/>
</svg>
            </button>
                <a class='buttons' href="{{url_for('delete_task', task_id=task.id) }}">✘</a>
            </div>
        </div>
{% endfor %}</ul>
        </div>{% endfor %}
</div>

<div class="mb-5 add_btn">
    <div class="container">
        <div class="row">
    <button type="button" onclick="toggle_display()" class="btn btn-outline-warning">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"></path>
  <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"></path>
</svg> Add new task </button>
      <div class="col-lg-8 col-md-10 mx-auto hid_form">
      <!--Rendering the new task form here-->
      {{render_form(form, novalidate=True, button_map={"submit": "warning"}) }}
      </div>
    </div>
  </div>
</div>
 {% endif %}
{% include "footer.html" %}